@import '@fortawesome/fontawesome-free/css/all.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@import './datatable.css';

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
